* {
	margin: 0;
	padding: 0;
}

body {
    background: url("purty_wood.png") repeat;
}

header {
    text-align: center;
    margin-top: 35px;
    padding: 20px 0 20px 0;
    background-color: rgba(106,141,157,.90);
    color: white;
    font-family: 'Prompt', sans-serif;
    margin-bottom: 25px;
}

section {
    width: 80%;
    margin: 0 auto;
}

header li {
    display: inline;
    padding: 5px;
}

nav {
    margin-top: 10px;
}

main {
    background-color: rgba(106,141,157,.90);
    color: white;
    margin-bottom: 25px;
}

main h1 {
	text-align: center;
}

main h3 {
	margin: 10px 0 10px 0;
}

main ul {
	margin-left: 10px;
}
